src/flows/Save_Line_Item_or_Update_Quantity-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>dcMerchandise</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Merchandise__c</object>
        <outputAssignments>
            <assignToReference>vQuantityAvaiable</assignToReference>
            <field>Quantity__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Diminuir a quantidade de estoque disponivel</description>
        <name>fDecrementAvailableStock</name>
        <dataType>Number</dataType>
        <expression>{!vQuantityAvaiable} - {!Quantity_Ordered}</expression>
        <scale>0</scale>
    </formulas>
    <label>Save Line Item or Update Quantity</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>305</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Decrement_Available_Stock</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>vInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchandise__c</field>
            <value>
                <elementReference>Merchandise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Line_Item_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity_Ordered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Line_Itm__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Decrement_Available_Stock</name>
        <label>Decrement Available Stock</label>
        <locationX>303</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Merchandise</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>fDecrementAvailableStock</elementReference>
            </value>
        </inputAssignments>
        <object>Merchandise__c</object>
    </recordUpdates>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>302</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmation_messsage</name>
            <defaultValue>
                <stringValue>Obrigado.

Seu item de linha foi adicionado à fatura e a quantidade de mercadoria disponível foi atualizada.</stringValue>
            </defaultValue>
            <fieldText>confirmation_messsage</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>524</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <defaultValue>
                <stringValue>Para obter ajuda, forneça as seguintes informações ao administrador do fluxo: {!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>error message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Obter_Informa_ao</name>
        <label>Obter Informaçao do Line Item</label>
        <locationX>307</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Line_Item_Number</name>
            <dataType>String</dataType>
            <fieldText>Line Item Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Merchandise</name>
            <choiceReferences>dcMerchandise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Merchandise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity_Ordered</name>
            <dataType>Number</dataType>
            <fieldText>Quantity_Ordered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Unit_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
    </screens>
    <startElementReference>Obter_Informa_ao</startElementReference>
    <variables>
        <description>ID da fatura à qual o fluxo adicionará o novo item de linha. Um botão personalizado na página de detalhes da fatura iniciará o fluxo e passará o ID da fatura para essa variável.</description>
        <name>vInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>quantidade disponivel em estoque</description>
        <name>vQuantityAvaiable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
